name: Secrets

on:
  push:
    branches:
      - main

jobs:
  secrets-one:
    name: Secrets (general)
    runs-on: ubuntu-latest
    env:
      ORG_GLOBAL: ${{ secrets.ORG_GLOBAL }}
      ORG_A1: ${{ secrets.ORG_A1 }}
      ORG_A2: ${{ secrets.ORG_A2 }}

      REPO_A1_GENERAL: ${{ secrets.REPO_A1_GENERAL }}
      REPO_A1_QA: ${{ secrets.REPO_A1_QA }}
      REPO_A1_PROD: ${{ secrets.REPO_A1_PROD }}

      REPO_A2_GENERAL: ${{ secrets.REPO_A2_GENERAL }}
      REPO_A2_QA: ${{ secrets.REPO_A2_QA }}
      REPO_A2_PROD: ${{ secrets.REPO_A2_PROD }}

    steps:
      - uses: actions/checkout@v1
      - name: Using secrets
        run: ./scripts/secrets.sh

  secrets-two:
    name: Secrets (qa)
    runs-on: ubuntu-latest
    environment: qa
    needs: secrets-one
    env:
      ORG_GLOBAL: ${{ secrets.ORG_GLOBAL }}
      ORG_A1: ${{ secrets.ORG_A1 }}
      ORG_A2: ${{ secrets.ORG_A2 }}

      REPO_A1_GENERAL: ${{ secrets.REPO_A1_GENERAL }}
      REPO_A1_QA: ${{ secrets.REPO_A1_QA }}
      REPO_A1_PROD: ${{ secrets.REPO_A1_PROD }}

      REPO_A2_GENERAL: ${{ secrets.REPO_A2_GENERAL }}
      REPO_A2_QA: ${{ secrets.REPO_A2_QA }}
      REPO_A2_PROD: ${{ secrets.REPO_A2_PROD }}

    steps:
      - uses: actions/checkout@v1
      - name: Using secrets
        run: ./scripts/secrets.sh

  secrets-three:
    name: Secrets (prod)
    runs-on: ubuntu-latest
    environment: prod
    needs: secrets-two
    env:
      ORG_GLOBAL: ${{ secrets.ORG_GLOBAL }}
      ORG_A1: ${{ secrets.ORG_A1 }}
      ORG_A2: ${{ secrets.ORG_A2 }}

      REPO_A1_GENERAL: ${{ secrets.REPO_A1_GENERAL }}
      REPO_A1_QA: ${{ secrets.REPO_A1_QA }}
      REPO_A1_PROD: ${{ secrets.REPO_A1_PROD }}

      REPO_A2_GENERAL: ${{ secrets.REPO_A2_GENERAL }}
      REPO_A2_QA: ${{ secrets.REPO_A2_QA }}
      REPO_A2_PROD: ${{ secrets.REPO_A2_PROD }}

    steps:
      - uses: actions/checkout@v1
      - name: Using secrets
        run: ./scripts/secrets.sh
